<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="at.balin.wincent.futureaudiointerfaces.touchrecorder"
    android:versionCode="1"
    android:versionName="1.0">

    <uses-sdk android:targetSdkVersion="5" android:minSdkVersion="5"/>
    
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <application
        android:icon="@drawable/touchrecorder"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.Black.NoTitleBar.Fullscreen">
        <activity
            android:name=".TouchRecorder"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".Help"
            android:label="@string/help_title"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity
            android:name=".LogView"
            android:label="@string/logview_title"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity
            android:name=".FileDialog"
            android:label="@string/filedialog_title"
            android:theme="@android:style/Theme.Dialog">
        </activity>
        <activity
            android:name=".Preferences"
            android:label="@string/preferences_title">
        </activity>
    </application>
</manifest>
